**/.config/mc/ini
**/.config/dunst/dunstrc
**/.config/gtk-3.0/bookmarks
**/.config/mc/panels.ini
**/.config/alacritty/alacritty.yml
**/.config/xmonad/.stack-work
**/.config/xmonad/stack.yaml.lock
**/.config/xmonad/xmonad.errors
**/.config/xmonad/xmobar.hs
**/.config/xmonad/xmonad.hi
**/.config/xmonad/xmonad.hs
**/.config/xmonad/xmonad.o
**/.config/xmonad/xmobar-git
**/.config/xmonad/xmonad-contrib-git
**/.config/xmonad/xmonad-git
**/.config/xmonad/xmonad-x86_64-linux
**/.config/xmonad/xmobar
