!! ---------------------------------------------------------------------
!! Settings
!! (C) Kresimir Marzic <kmarzic@gmail.com>
!! Last update: 2024-04-22 15:53:23 (CEST)
!! ---------------------------------------------------------------------
!! $ xrdb -load $HOME/.Xdefaults
!! $ xrdb -merge $HOME/.Xdefaults
!! ---------------------------------------------------------------------

!! ---------------------------------------------------------------------
!! Common
!! ---------------------------------------------------------------------

#include ".Xdefaults.common"


!! ---------------------------------------------------------------------
!! Dusk Themes
!! https://github.com/bakkeby/dusk.resources/tree/master/themes
!! ---------------------------------------------------------------------

#include "git/suckless/dusk.resources/themes/light/catpuccin-latte.res"
#include "git/suckless/dusk.resources/themes/template.txt"


!! ---------------------------------------------------------------------
!! DWM Themes, based on dusk theme https://github.com/bakkeby/dusk.resources/tree/master/themes
!! ---------------------------------------------------------------------

#include ".Xdefaults.dwm"


!! ---------------------------------------------------------------------
!! catppuccin
!! https://github.com/catppuccin/catppuccin
!! ---------------------------------------------------------------------

! special
*background: #EFF1F5
*foreground: #4C4F69
*cursorColor: #DC8A78

! black
*color0: #5C5F77
*color8: #6C6F85

! red
*color1: #D20F39
*color9: #D20F39

! green
*color2: #40A02B
*color10: #40A02B

! yellow
*color3: #DF8E1D
*color11: #DF8E1D

! blue
*color4: #1E66F5
*color12: #1E66F5

! magenta
*color5: #EA76CB
*color13: #EA76CB

! cyan
*color6: #179299
*color14: #179299

! white
*color7: #ACB0BE
*color15: #BCC0CC

!! ---------------------------------------------------------------------
!! EOF
!! ---------------------------------------------------------------------
