#!/bin/bash
# echo "$(date) .xprofile" >> /var/tmp/x

## ENV
export PATH="/bin:/usr/bin:/usr/local/bin:/sbin:/usr/sbin:/usr/local/sbin"
export PATH="$PATH:$HOME/bin"
# export PATH="$PATH:/opt/ghc/bin"
# export PATH="$PATH:$HOME/.cabal/bin"
# export PATH="$PATH:$HOME/.local/bin"
# export PATH="$PATH:/opt/fvwm3/bin"
# export PATH="$PATH:/opt/awesome/usr/local/bin"
# export PATH="$PATH:/opt/rofi/bin"
# PATH=$(echo "$PATH" | awk -v RS=':' -v ORS=":" '!a[$1]++')

export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export LC_TIME="en_DK.UTF-8"

## xhost
xhost +0
xhost +localhost
xhost +$(hostname)
xhost local:root

## turn off screen saver
xset s blank

## screen saver starts after 10 minutes
xset s 600 2

## enable DPMS (Enery Star) parameters
xset +dpms

## screen options
xset dpms 1200 1560 1800

## mouse acceleration
xset m 1

# ## font path
# # xset fp+ unix/:7101
# # xset fp rehash

## disable bell
xset -b

## mouse cursor
xsetroot -cursor_name left_ptr

# ## syndaemon - a program that monitors keyboard activity and disables the touchpad when the keyboard is being used.
# # syndaemon -i 1 -d

# ## touchpad on
# synclient TouchpadOff=0

## screen_toggle.sh
[[ -e ~/bin/screen_toggle.sh ]] && ~/bin/screen_toggle.sh -x

## xrdb
[[ ! -e ~/.Xdefaults ]] && cd ~/ && ln -s .Xdefaults.ansi .Xdefaults
# [[ ! -e ~/.Xdefaults ]] && cd ~/ && ln -s .Xdefaults.solarized.dark .Xdefaults
# [[ ! -e ~/.Xdefaults ]] && cd ~/ && ln -s .Xdefaults.solarized.light .Xdefaults
xrdb -load ~/.Xdefaults
xrdb -merge ~/.Xdefaults

## setxkbmap
# setxkbmap -rules xorg -model pc105 -layout hr_US -option ""
setxkbmap -model pc105 -option 'eurosign:e,lv3:ralt_switch,compose:caps' 'hr(us)'

## xautolock
xautolock -time 10 -locker "~/bin/exit.sh lock" -corners +000 -cornerdelay 1 -cornerredelay 15 &

## Conky
# if [[ -e /usr/bin/conky ]] && /usr/bin/conky -q &
# if [[ -e /usr/bin/conky ]] && /usr/bin/conky -c ~/.conkyrc.weather -q &

## Dropbox
# if [[ -e /usr/bin/dropbox ]] && /usr/bin/dropbox start &

## NM applet
# if [[ -e /usr/bin/nm-applet ]] && /usr/bin/nm-applet &

## NSGClient
# if [[ -e /usr/local/bin/NSGClient ]] && /usr/local/bin/NSGClient &

## Urxvt daemon
[[ -e /usr/bin/urxvtd ]] && /usr/bin/urxvtd -q -f -o

## Wicd GTK
# if [[ -e /usr/bin/wicd-gtk ]] && (sleep 3 && /usr/bin/wicd-gtk -t &)
# if [[ -e /usr/bin/wicd-gtk ]] && /usr/bin/wicd-gtk -t &
# if [[ -e /usr/bin/wicd-gtk ]] && /usr/bin/wicd-client &

## redshift
# [[ ! -e ~/.config/redshift.conf ]] && cd ~/.config && rm -f redshift.conf && ln -s redshift.ansi.conf redshift.conf && cd -
# [[ ! -e ~/.config/redshift.conf ]] && cd ~/.config && rm -f redshift.conf && ln -s redshift.blue.conf redshift.conf && cd -
# [[ ! -e ~/.config/redshift.conf ]] && cd ~/.config && rm -f redshift.conf && ln -s redshift.green.conf redshift.conf && cd -
# [[ ! -e ~/.config/redshift.conf ]] && cd ~/.config && rm -f redshift.conf && ln -s redshift.solarized.dark.conf redshift.conf && cd -
[[ ! -e ~/.config/redshift.conf ]] && cd ~/.config && rm -f redshift.conf && ln -s redshift.solarized.light.conf redshift.conf && cd -
[[ -e /usr/bin/redshift ]] && /usr/bin/redshift &

## xcompmgr - sample X compositing manager
# [[ -e /usr/bin/xcompmgr ]] && /usr/bin/xcompmgr -CcfF -I-20 -O-10 -D1 -t-5 -l-5 -r4.2 -o.82 &
# [[ -e /usr/bin/xcompmgr ]] && /usr/bin/xcompmgr -F -c -C -t-5 -l-5 -r4.2 -o.55 &
# [[ -e /usr/bin/xcompmgr ]] && /usr/bin/xcompmgr -FCc &

## compton
# [[ -e /usr/bin/picom ]] && /usr/bin/picom -cCGfF -o 0.38 -O 200 -I 200 -t 0 -l 0 -r 3 -D2 -m 0.88 -b
# [[ -e /usr/bin/picom ]] && /usr/bin/picom -cCGfF -o 0.38 -O 200 -I 200 -t 0 -l 0 -r 3 -D2 -m 0.88 --blur-method kernel -b
# [[ -e /usr/bin/picom ]] && /usr/bin/picom --config ~/.config/compton.conf -b
# [[ -e /usr/bin/compton ]] && [[ ! -e /usr/bin/picom ]] && /usr/bin/compton -cCGfF -o 0.38 -O 200 -I 200 -t 0 -l 0 -r 3 -D2 -m 0.88 -i 0 -b
# [[ -e /usr/bin/compton ]] && [[ ! -e /usr/bin/picom ]] && /usr/bin/compton --config ~/.config/compton.conf -b
# [[ -e /usr/bin/compton ]] && [[ ! -e /usr/bin/picom ]] && /usr/bin/compton -cCGfF -o 0.38 -O 200 -I 200 -t 0 -l 0 -r 3 -D2 -m 0.88 -i 0 --backend glx --blur-background --blur-background-fixed --blur-kern 5x5box -b

## Xeyes
# if [[ -e /usr/bin/xeyes ]] && /usr/bin/xeyes &

## Clean .xsesssion-errors
echo "" > ~/.xsession-errors

#### END
